services:
  rdf-store:
    image: ghcr.io/maastrichtu-cds/flyover-graphdb:latest
    # If preferred, the graphdb image can be built from the Dockerfile in the graphdb directory
    #build:
    #  context: ./graphdb
    ports:
      - "127.0.0.1:7200:7200"
    volumes:
      - ./graphdb/data:/opt/graphdb/home
    environment:
      - GDB_HEAP_SIZE=8g
      - GDB_MIN_MEM=4g
      - GDB_MAX_MEM=12g
    networks:
      - proxynet
    container_name: rdf-store

  triplifier:
    #image: ghcr.io/maastrichtu-cds/flyover-triplifier:latest
    # If preferred, the triplifier image can be built from the Dockerfile in the triplifier directory
    build:
      context: ./triplifier
    ports:
      - "127.0.0.1:5000:5000"
    environment:
      - FLYOVER_GRAPHDB_URL=http://rdf-store:7200
      - FLYOVER_REPOSITORY_NAME=userRepo
      - FLASK_ENV=production
      # Optional: Override default PostgreSQL database settings for Triplifier
      # - TRIPLIFIER_DB_URL=postgresql://postgres/opc
      # - TRIPLIFIER_DB_USER=postgres
      # - TRIPLIFIER_DB_PASSWORD=postgres
    hostname: "data.local"
    networks:
      - proxynet
    container_name: triplifier

networks:
  proxynet:
    name: flyover_network
