<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Flyover | Annotation Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flyover-custom.css') }}"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vue.global.prod.js') }}"></script>
</head>

<body>
<!-- Include navigation header -->
{% include 'navigation_header.html' %}

<div class="container">
    <br>
    <h1><i class="fas fa-search"></i> Review Annotation Data</h1>
    <hr>

    <p style="line-height: 1.5; margin-bottom: 20px;">Please review the variable mappings below before proceeding with the
        annotation process.<br>
        If information is missing or incorrect, you can adjust the local definitions through the describe data pages.
    </p>

    <div id="annotation-review-app"></div>
</div>

<!-- Include footer -->
{% include 'footer.html' %}

<script src="{{ url_for('static', filename='js/vue/annotation-review-app.js') }}"></script>
<script>
    window.graph_exists = true;
    AnnotationReviewApp.mount('#annotation-review-app');
</script>

</body>
</html>
