<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{url_for('custom_static', filename='css/bootstrap.min.css') }}">
<script src="{{url_for('custom_static', filename='js/jquery.min.js') }}"></script>
<script src="{{url_for('custom_static', filename='js/bootstrap.bundle.min.js') }}"></script>

<head>
    <meta charset="UTF-8">
    <title>Flyover | Metadata download</title>
</head>

<body>
<div class="container">
    <br>
    <h1>Download your local metadata</h1>
    <hr>

    <p style="line-height: 1.5; margin: 0;">You have now successfully described the data that you have provided!&#x1F389;
    </p>
    <p style="line-height: 1.5; margin: 0;"> This allows you to formulate the appropriate metadata that should accompany
        your converted data.</p>

    <br>
    <p style="line-height: 1.5; margin: 0;">To simplify this process, we recommend to download the N-Triples local
        ontology through the 'Download local ontology' button below.</p>
    <p style="line-height: 1.5; margin: 0;">Alternative file formats can be retrieved manually through the <a
            href="{{ graphdb_location }}" target="_blank">GraphDB user interface</a>.</p>

    <a href="/downloadOntology" download="local_ontology.owl">
        <button class="btn btn-primary">Download local ontology</button>
    </a>
    <br>
    <div {% if not show_semantic_map %} style="display: none;" {% endif %}>
        <br>
        <p style="line-height: 1.5; margin: 0;"> As you have also provided a global semantic map,
            you can download the corresponding local version through the 'Download local
            semantic map' button below.</p>
        <p style="line-height: 1.5; margin: 0;">&#x26A0;<i>Please do consider that the local semantic map is only partially
            completed and
            is based on the inputs provided through this web interface.</i></p>
        <p style="line-height: 1.5; margin: 0;"><i style="line-height: 1.5; margin: 0;">The local semantic map file should
            thus always be evaluated prior to
            using it with Flyover's annotation helper.</i></p>
        <a href="/downloadSemanticMap" download="semantic_map.json">
            <button class="btn btn-primary " {% if not show_semantic_map %} style="display: none;" {% endif %}>Download local
                semantic map
            </button>
        </a>
        <br><br>
        <a href="/annotation-review" {% if not show_semantic_map %} style="display: none;" {% endif %}>
            <button class="btn btn-success" {% if not show_semantic_map %} style="display: none;" {% endif %}>
                Review and Annotate Data
            </button>
        </a></div>
    <hr>
    <a href="/">Click here to return to the welcome page.</a>
</div>
</body>
</html>