<!-- Footer Component -->
<!-- Styles are loaded from flyover-custom.css -->

<footer class="flyover-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-md-left">
                <p class="footer-text-md">
                    <a href="https://clinicaldatascience.nl/" target="_blank">
                        <img src="{{ url_for('custom_static', filename='logo-cds.svg') }}"
                             alt="Clinical Data Science Maastricht" class="footer-logo">
                    </a>
                </p>
            </div>
            <div class="col-md-4 text-md-center">
                <p class="footer-text">
                </p>
            </div>
            <div class="col-md-4 text-md-right">
                <a href="https://github.com/MaastrichtU-CDS/Flyover" target="_blank" class="footer-link">
                    <p class="footer-text">
                        <i class="fas fa-code"></i>
                        <strong>Flyover</strong> v3.0.0
                    </p>
                </a>
            </div>
        </div>
    </div>
</footer>
