<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="{{url_for('custom_static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{url_for('custom_static', filename='css/bootstrap-select.css') }}"/>
<script src="{{url_for('custom_static', filename='js/jquery.min.js') }}"></script>
<script src="{{url_for('custom_static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{url_for('custom_static', filename='js/bootstrap-select.min.js') }}"></script>

<head>
    <meta charset="UTF-8">
    <title>Flyover | Data submission finalised</title>
</head>

<body>
<div class="container">
    <br>
    <h1>Data submission finalised</h1>
    <hr>

    <p> {{ message }} </p>

    <form method="POST" action="repo">
        <p><input class="btn btn-primary" type="submit" value="Click here to describe the data"></p>
    </form>
    <hr>
    <a href="/">Click here to return to the welcome page.</a>
</div>
</body>
</html>