name: Create and publish a Docker image

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  TRIPLIFIER_IMAGE_NAME: maastrichtu-cds/flyover-triplifier
  GRAPHDB_IMAGE_NAME: maastrichtu-cds/flyover-graphdb

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Triplifier
        id: meta-triplifier
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.TRIPLIFIER_IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}

      - name: Extract metadata (tags, labels) for GraphDB
        id: meta-graphdb
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.GRAPHDB_IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}

      - name: Build and push Triplifier Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./triplifier
          push: true
          tags: ${{ steps.meta-triplifier.outputs.tags }}
          labels: ${{ steps.meta-triplifier.outputs.labels }}

      - name: Build and push GraphDB Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./graphdb
          push: true
          tags: ${{ steps.meta-graphdb.outputs.tags }}
          labels: ${{ steps.meta-graphdb.outputs.labels }}
